<html>

<head>

<title>Brian Ly's Portfolio Site - Skills</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/portfolio.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
	<a href="index.html"><img id="logo" src="../images/bl.png"></a>
	<a href="https://github.com/brianjly"><img id="github" src="../images/github.png"></a>
	<a href="https://www.linkedin.com/in/brian-ly-95617082"><img id="linkedin" src="../images/linkedin.png"></a>

	<div id="particles-js">

		<div id="mobilenav">
			<a href="about.html"><i class="material-icons mobilenavitem" style="font-size: 35px;color:white">info_outline</i></a>
			<a href="works.html"><i class="material-icons mobilenavitem" style="font-size: 35px;color:white">assignment</i></a>

			<a href="skills.html"><i class="material-icons mobilenavitem" style="font-size: 35px;color:white">code</i></a>
			<a href="contact.html"><i class="material-icons mobilenavitem" style="font-size: 35px;color:white">email</i></a>

		</div>


	<!--Content-->

	<div id="displaybox">
		<h1 class="title moremargin">I'VE BEEN USING:</h1><br>
		<h2 class="subtitle" id="skills"><br>

			<span class="green underline">front-end</span>:  html5 css3 javascript ajax jquery angular vue.js react**
			<br><br>

			<span class="green underline">server-side/backend</span>:  node.js express mongoDB php mySQL flask** python
			<br><br>

			<span class="green underline">responsive frameworks</span>:  foundation bootstrap materialize
			<br><br>

			<span class="green underline">tools</span>:  git/github sublimetext atom jade ejs** grunt** sass**
<br><br>



			<i class="subtext">** : basic knowledge</i><br><br>

		</h2>







	</div>

	<div id="sidenav">


		<div class="navitemcontainer">

		<a href="about.html"><div class="navbox">
			<div class="navtext">ABOUT</div>
			<div class="navitem"><center><i class="material-icons md-dark" style="font-size: 25px; margin-top:5px;">info_outline</i></center></div>
		</div></a>

		<a href="works.html"><div class="navbox">
			<div class="navtext">WORKS</div>
			<div class="navitem"><center><i class="material-icons" style="font-size: 25px; margin-top:5px;">assignment</i></center></div>
		</div></a>

		<a href="skills.html"><div class="navbox">
			<div class="navtext">SKILLS</div>
			<div class="navitem"><center><i class="material-icons" style="font-size: 25px; margin-top:5px;">code</i></center></div>
		</div></a>

		<a href="contact.html"><div class="navbox">
			<div class="navtext">CONTACT</div>
			<div class="navitem"><center><i class="material-icons" style="font-size: 25px; margin-top:5px;">email</i></center></div>
		</div></a>


		</div>

	</div>


</body>




</html>
